<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="testAll">
    <test name="case1">
        <classes>
            <class name="vn.myclass.core.test.RoleTest"/>
            <class name="vn.myclass.core.test.ListenGuideLineTest"/>
            <class name="vn.myclass.core.test.UserTest"/>
        </classes>
    </test>
</suite>